.social-login
    button.social-login__github
        span  
            i.fab.fa-github
        |Continue with GitHub    <!-- | 다음에 써지는 것들은 모두 텍스트 취급-->
    button.social-login__facebook    
        span 
            i.fab.fa-facebook
        |Continue with FaceBook    